body {
    background-color: rgb(71, 71, 71);
}

.borders {
	position: relative;
	justify-content: center;
	display: inline-flex;
	align-items: center;
	margin: 2.5vh auto 0 auto;
    background-color: rgb(144, 144, 144);
    border-radius: 7px;
    box-shadow: 7px 7px 7px black;
	width: 7.3vw;
    height: 47.7vh;
}

#header {
	display: block;
	width: 75vw;
    height: 16vh;
}

#leftbar {
	position: absolute;
	margin-left: 13vw;
}

#center {
	position: absolute;
	left: 21.8vw;
	max-width: 90%;
	max-height: 90%;
	width: 55vw;
    height: 62vh;
}

#rightbar {
	margin-left: 78.1vw;
}

#day42 {
	position: absolute;
	top: 1.5vh;
	left: 0.6vw;
	width: 22vw; 
	height: 12vh;
}

#loupe {
	position: absolute;
	bottom: -2.3vh;
	right: 1.7vw;
	width: 13vw;
	height: 17vh;
}

#reload {
	position: absolute;
	top: 1.3vh;
	right: 0.6vw;
	width: 1.3vw;
	height: 2.3vh;
}

#close {
	position: absolute;
	bottom: 1.3vh;
	right: 0.6vw;
	width: 1.2vw;
	height: 2.2vh;
}

#arrow {
	position: absolute;
	top: 1.5vh;
	width: 3.5vw;
	height: 8.3vh;
}

#main {
	position: absolute;
	top: 10.7vh;
	width: 4vw;
	height: 7.8vh;
}

#eye {
	position: absolute;
	top: 19.5vh;
	width: 4vw;
	height: 7.8vh;
}

#tools {
	position: absolute;
	top: 28vh;
	width: 4vw;
	height: 7.8vh;
}

#chat {
	position: absolute;
	top: 37vh;
	width: 4vw;
	height: 7.8vh;
}

#cluster {
	position: absolute;
	max-width: 98%;
	max-height: 97%;
	width: 55vw;
	height: 65vh;
}

#book {
	position: absolute;
	top: 1.5vh;
	width: 4vw;
	height: 10vh;
}

#towel {
	position: absolute;
	top: 12vh;
	width: 3.7vw;
	height: 5.3vh;
}

#brick {
	background-image: url("resources/brick.jpeg");
	background-size: 1.7vw;
	position: absolute;
	top: 18vh;
	max-width: 87%;
	min-height: 15%;
	width: 8vw;
	height: 7vh;
}

.text {
	position: absolute;
	top: -1vh;
	left: 0.5vw;
	font-family: sans-serif;
	font-size: 0.9vw;
}
#bold {
	font-family: Georgia;
	font-size: 3.5vh;
	font-weight: 100;
}

#ordinateurs {
	text-shadow: 0.3vw 0.4vh 2px #FF0000e2;
}

#box {
	position: absolute;
	left: 0.3vw;
	margin-top: 0.3vh;
	width: 17.9vw;
	height: 1.5vh;
	border: inset;
	border-radius: 1%;
}

#respondbutton {
	border: solid rgb(190, 190, 190);
	position: absolute;
	margin-top: 0.2vh;
	left: 19.3vw;
	border-width: 0.1vw;
	font-size: 0.7vw;
}

#entrez {
	top: 4.5vh;
	left: 10vw;
    background-color: rgb(129, 255, 142);
    width: 26vw;
    height: 17.9vh;
}